body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

span {
    color: orange;
}

.flexible {
    display: flex;
    margin-bottom: 100px;
}

.half-width {
    width: 80%;
    padding-left: 2%;
}

.half-width img {
    width: 80%;
}

.button {
    text-decoration: none;
    border: 1px solid orange;
    border-radius: 5px;
    padding: 10px 40px;
    background-color: #FF6133;
    color: white;
    font-weight: 700;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}

.experience {
    background: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.orange {
    color: #FF6133;
}

.exp {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    box-shadow: 10px 10px 40px gray;

}

#full {
    border-left: 7px solid tomato;
}

#baby {
    border-left: 7px solid blue;
}

footer {
    text-align: center;
}